.box_container {
  width: 580px;
  height: 379px;
  background: #ffffff;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05), 0px 2px 14px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 0.5rem;
}

.box_container > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
}
.box_container > h3 {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #072a38;
}
.para_container {
  display: flex;
  gap: 1.5rem;
}
.lessons_container,
.duration_container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.lessons_container > p {
  font-weight: 325;
  font-size: 16px;
  color: #444444;
  margin-bottom: 0;
}
.duration_container > p {
  font-weight: 325;
  font-size: 16px;
  color: #444444;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .box_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 12px 16px;
    gap: 16px;
    width: 343px;
    height: 303px;
    background: #ffffff;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05),
      0px 2px 14px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
  }
  .box_container h3 {
    font-size: 18px;
    margin-top: 0.5rem;
    line-height: 0;
  }
  .box_container > img {
    width: 319px;
    height: 203px;
  }
}
