.bracket_mobile,
.bracket_desktop {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .bracket_desktop {
    display: none;
  }
  .bracket_mobile {
    margin-right: 3rem;
  }
  :lang(ar) .bracket_mobile {
    margin-right: 0;
    margin-left: 3rem;
  }
  .bracket_mobile h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }
}

@media screen and (min-width: 768px) {
  .bracket_mobile {
    display: none;
  }
}

:lang(ar) .bracket_desktop svg {
  transform: rotateY(180deg);
}
:lang(ar) .bracket_mobile svg {
  transform: rotateY(180deg);
}
