.textbox_container {
  width: 380px;
  height: 202px;
  background: #ffffff;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05), 0px 2px 21px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.textbox_container > img {
  display: block;
  margin-left: 1rem;
}
:lang(ar) .textbox_container > img {
  margin-left: 0;
  margin-right: 1rem;
}
.text_content > h3 {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #072a38;
}
.text_content p {
  font-weight: 325;
  font-size: 16px;
  color: #444444;
}

@media screen and (max-width: 767px) {
  .textbox_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    width: 343px;
    height: 175px;
    background: #ffffff;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05),
      0px 9px 14px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
  }
  .textbox_container > img {
    width: 108px;
    height: 151px;
  }
  .text_content h3 {
    font-size: 18px;
  }
}
